<div class="container">
  <div class="sign-container">
    <img src="../../../assets/logo.png" style="background-color: #fff" />
    <div class="infos">
      <h1>Seja bem vindo !</h1>
      <h3>
        Caso já possua cadastro, clique no botão a seguir para realizar seu
        login.
        <p *ngIf="device">Caso não tenha, realize-o no formulário abaixo</p>
      </h3>
      <a
        mat-stroked-button
        class="sign-button"
        id="sign-button"
        style="text-decoration: none"
        href="http://localhost:4200/login"
        >Sign In</a
      >
    </div>
  </div>
  <div class="register-container">
    <div class="form-container">
      <h2>Cadastre-se</h2>
      <form class="form" [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="grid-item">
          <label for="name">Nome*:</label>
          <input id="name" type="text" formControlName="nome" matInput />
          <div
            class="validations"
            *ngIf="
              registerForm.controls['nome'].errors && registerForm?.touched
            "
          >
            <div
              class="required"
              *ngIf="registerForm.controls['nome'].errors['required']"
            >
              Campo Obrigatório!
            </div>
          </div>
        </div>
        <div class="grid-item">
          <label for="email">Email*:</label>
          <input id="email" type="email" matInput formControlName="email" />
          <div
            class="validations"
            *ngIf="
              registerForm.controls['email'].errors && registerForm?.touched
            "
          >
            <div
              class="required"
              *ngIf="registerForm.controls['email'].errors['required']"
            >
              Campo Obrigatório!
            </div>
            <div *ngIf="registerForm.controls['email'].errors['email']">
              Favor inserir um email valido.
            </div>
          </div>
        </div>
        <div class="grid-item">
          <label for="birth-date">Data de nascimento*:</label>
          <input
            id="birth-date"
            type="date"
            matInput
            formControlName="data_nascimento"
          />
          <div
            class="validations"
            *ngIf="
              registerForm.controls['data_nascimento'].errors &&
              registerForm?.touched
            "
          >
            <div
              class="required"
              *ngIf="
                registerForm.controls['data_nascimento'].errors['required']
              "
            >
              Campo Obrigatório!
            </div>
          </div>
        </div>
        <div class="grid-item">
          <label for="cep">CEP:</label>
          <input
            id="cep"
            [mask]="'00000-000'"
            type="text"
            matInput
            formControlName="cep"
            (change)="searchCep($event)"
          />
        </div>
        <div class="grid-item">
          <label for="estado">Estado:</label>
          <input
            id="estado"
            type="text"
            matInput
            formControlName="estado"
            [(ngModel)]="endereco_viacep.uf"
          />
        </div>
        <div class="grid-item">
          <label for="cidade">Cidade:</label>
          <input
            id="cidade"
            type="text"
            matInput
            formControlName="cidade"
            [(ngModel)]="endereco_viacep.localidade"
          />
        </div>
        <div class="grid-item" style="grid-column: span 2">
          <label for="rua">Rua:</label>
          <input
            id="rua"
            type="text"
            matInput
            formControlName="rua"
            [(ngModel)]="endereco_viacep.logradouro"
          />
        </div>
        <div class="grid-item">
          <label for="password">Senha*:</label>
          <input
            id="password"
            type="password"
            matInput
            formControlName="password"
          />
          <div
            class="validations"
            *ngIf="
              registerForm.controls['password'].errors && registerForm?.touched
            "
          >
            <div
              class="required"
              *ngIf="registerForm.controls['password'].errors['required']"
            >
              Campo Obrigatório!
            </div>
          </div>
        </div>
        <div class="grid-item">
          <label for="confirm_senha">Confirme sua Senha*:</label>
          <input
            id="confirm_senha"
            type="password"
            matInput
            formControlName="confirm_senha"
          />
          <div
            class="validations"
            *ngIf="
              registerForm.controls['confirm_senha'].errors &&
              registerForm?.touched
            "
          >
            <div
              class="required"
              *ngIf="registerForm.controls['confirm_senha'].errors['required']"
            >
              Campo Obrigatório!
            </div>
          </div>
        </div>
        <div class="button-submit" style="grid-column: span 2">
          <input mat-button type="submit" value="Cadastrar" />
        </div>
      </form>
    </div>
  </div>
</div>
