<div class="container">
  <div class="login-container">
    <div class="infos-container">
      <img src="../../../assets/logo.png" style="background-color: #fff" />
      <p class="slogan-div">Soluções inteligentes que fazem a diferença!</p>
      <div class="link-div">
        <a
          mat-stroked-button
          class="sign-button"
          id="sign-button"
          style="text-decoration: none"
          href="http://localhost:4200/cadastro"
          >Sign Up</a
        >
      </div>
    </div>
    <div class="form-container">
      <h2>Login</h2>

      <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="grid-item">
          <label for="email">Email*:</label>
          <input id="email" type="email" matInput formControlName="email" />
          <div
            class="validations"
            *ngIf="loginForm.controls['email'].errors && loginForm?.touched"
          >
            <div *ngIf="loginForm.controls['email'].errors['required']">Campo Obrigatório!</div>
            <div  *ngIf="loginForm.controls['email'].errors['email']">Favor inserir um email valido.</div>
          </div>
          <div class="grid-item">
            <label for="password">Senha*:</label>
            <input
              id="password"
              type="password"
              matInput
              formControlName="password"
            />
            <div
              class="validations"
              *ngIf="
              loginForm.controls['password'].errors && loginForm?.touched
            "
            >
              Campo Obrigatório!
            </div>
          </div>
        </div>
        <div class="button-submit" style="grid-column: span 2">
          <input mat-button type="submit" value="Cadastrar" />
        </div>
      </form>
    </div>
  </div>
</div>
